.box1{
  width: 100%;
  height: 150px;
  background-image: url(../img/pattran-bg.png);
  .overlay2{
    width: 100%;
    height: 150px;
    background-color: #fff;
    opacity: 0.82;
    h1{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    // line-height: 1px;
    letter-spacing: 2px;
    font-family: Roboto;
    }
    img{
      margin-left: 45%;
      margin-top: 20px;
    }
  }
}
.about{
  width: 100%;
  background-image: url("../img/philosophy-pt.png");
  .overlay{
    width: 100%;
    background:rgba(0, 100, 0, 0.85);
    width: 100%;
    box-shadow: 0 25px 30px rgba(0,0,0,.5);

    padding: 30px;
    .box{
      .imgBox{
        width: 100%;
        height: 500px;
        .first{
          width: 50%;
          height: 80%;
          float: left;
          margin-right: 20px;
      img{
        width: 100%;
        height: 49%;
        object-fit:cover;
        margin-bottom: 10px;
        box-shadow: 10px 5px 5px rgba(18, 11, 11, 0.49);
        transition: transform .8s;
        &:hover{
           transform: scale(1.1);
         }
        }
      }
        .second{
          width: calc(50% - 20px);
          height: 80%;
          float: left;
        img{
          width: 100%;
          height: 100%;
          object-fit:cover;
          box-shadow: 10px 5px 5px rgba(18, 11, 11, 0.49);
          transition: transform .8s;
          &:hover{
             transform: scale(1.1);
           }

        }
      }
    }
  }

      h2{
      color: #fff;
      font-size: 2em;
      padding: 20px;
   }
  }
 }
 p{
   color: #fff;
 }