.box1{
		  width: 100%;
		  height: 150px;
		  background-image: url(../img/pattran-bg.png);
		  .overlay2{
		    width: 100%;
		    height: 150px;
		    background-color: #fff;
		    opacity: 0.82;
		    p{
		    text-align: center;
		    font-size: 2.5em;
		    font-weight: 600;
		    // line-height: 1px;
		    letter-spacing: 2px;
		    font-family: Roboto;
		    }
		    img{
		      margin-left: 45%;
		      margin-top: 20px;
		    }
		  }
		}