$color_green_opacity:rgba(0,100,0,.85);
$color_green:rgb(0,100,0);
@import "header";
@import "slider";
@import "sermon";
@import "pillars";
@import "last_news";
@import "remember";
@import "info_board";
@import "title";
@import "footer";
@import "advertisement";
@import "single_news";
@import "single_advertis";
@import "single_pillar";
@import "question_answer";
@import "question";
@import "circle";
@import "recent";
@import "contact";
@import "about";
@import "galery";
@import "library";
@import "book";
@import "single_sermon";
@media(max-width:372px){
	
	#sermon .single_sermon .sermon_audio audio{
		width: 200px !important;
	}
	#header .pray_times .overlay h3{
		font-size: 28px !important;
	}
	#header .pray_times .time{
		width: 44px !important;
		height: 44px !important;
	}
	#header .pray_times .time h6{
		font-size: 13px !important;
		line-height: 30px !important;
	}
	#header .pray_times .time p{
		font-size: 13px !important;
	}
	#pillars{
		display: none !important;
	}
}
@media(max-width:372px){
	#sermon .single_sermon .sermon_audio audio{
		width: 150px !important;
	}
	}
@media(max-width: 1200px) {
	#pillars{
		display: none;
	}
}
// @media(max-width: 992px){
// 	#pillars .overlay_pillars .pillars_content .great_round{
// 		width: 300px !important;
// 		height: 150px !important;
// 		left: calc(50% - 150px);
// 	}
// }
